.cta {
    cursor          : pointer;
    text-transform  : uppercase;
    font-weight     : 700;
    background-color: #fff;
    color           : #000;
    padding         : 1em 2em;
    font-size       : 0.7em;
    border-radius   : 2em;
    border          : 1px solid #fff;
    transition      : color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgba(0,0,0,0);
        color           : #fff;
    }
}