.galleryCointaner {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 1em;
    margin-top           : 6em;
    margin-bottom        : 0em;
}


@media (max-width: 768px) {
    .galleryCointaner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .galleryCointaner {
        margin-top: 3em;
    }
}