.concertsCointainer {
    padding        : 6em 10%;
    display        : flex;
    justify-content: flex-end;
    position       : relative;

    .backgroundOverlay {
        position  : absolute;
        width     : 100%;
        height    : 100%;
        left      : 0;
        top       : 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5536808473389356) 45%, rgba(0, 0, 0, 1) 100%);
        z-index   : 1;
    }

    .concertsWrapper {
        display       : flex;
        flex-direction: column;
        gap           : 1em;
        z-index       : 2;
    }
}