.mediaConainer {
    padding: 5em;

    .sectionTitle,
    .sectionSubtitle {
        text-align: center;
    }

    .sectionTitle {
        margin-bottom: 0;
    }

    .sectionSubtitle {
        font-size: 0.7em;
        max-width: 70%;
        margin   : 1em auto;
        color    : #888;
    }

    .videoCointainer {
        display              : grid;
        grid-template-columns: repeat(3, 1fr);
        gap                  : 1em;
        margin-top           : 6em;
        margin-bottom        : 6em;

        .videoWrapper {
            min-height: 300px;
        }
    }
}

@media (max-width: 900px) {
    .mediaConainer {
        padding: 1em;
    }
}

@media (max-width: 768px) {
    .videoCointainer {
        display : flex;
        overflow-x: scroll;
        .videoWrapper {
            min-width: 300px;
        }
    }
}