.singleConcertWrapper {
    display    : flex;
    align-items: center;

    .date {
        font-weight  : 600;
        font-size    : 2em;
        margin-right : 1em;
        border-right : 1px solid rgba(255, 255, 255, 0.7);
        padding-right: 1em;
        min-width    : 5em;
        text-align   : right;
        opacity      : 0.6;
        transition   : opacity 0.3s ease-in-out;
    }

    .details {
        position  : relative;
        left      : 0;
        transition: left 0.3s ease-in-out;

        .city {
            font-weight: 700;
            font-size  : 1.5em;
        }

        .place {
            font-size: 0.9em;
        }
    }

    &:hover {
        .details {
            left: 0.5em;
        }

        .date {
            opacity: 1;
        }
    }
}