.main {
    background-color: #050505;
    color           : #fff;

    .heroMediaContener {
        width           : 70%;
        margin          : auto;
        background-color: #161616;
        position        : relative;
        top             : -5em;
        display         : flex;

        .videoContener,
        .videoDescription {
            width: 50%;
        }

        .videoDescription {
            padding: 3em;

            .eventDate {
                margin     : 0;
                font-weight: 700;
                color      : #757474;
            }

            .eventLabel {
                font-size: 2em;
                margin   : 0;
            }

            .eventDescription {
                font-size    : 1em;
                margin-top   : 2em;
                margin-bottom: 0;
                line-height  : 1.5em;
                color        : #a8a8a8;

                span {
                    white-space: nowrap;
                    font-weight: 600;
                }
            }
        }
    }
}