.spinerContener {
    width : 2em;
    height: 2em;
    margin: auto;

    .spiner {
        border-radius   : 50%;
        border          : 1px solid #ccc;
        border-top-color: #fff;
        animation       : rotate 0.5s linear infinite;
        width           : 2em;
        height          : 2em;
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
}