.container {
    padding: 10% 20%;
    width  : 100%;

    .sendingOverlay {
        display        : flex;
        height         : 100%;
        align-items    : center;
        justify-content: center;

        .infoContainer {
            text-align: center;
        }
    }

    .submit {
        width           : 100%;
        background-color: #000;
        border          : none;
        cursor          : pointer;
        padding         : 1em 2em;
        text-transform  : uppercase;
        font-size       : 0.8em;
        font-weight     : 600;
        font-family     : inherit;
        letter-spacing  : 0.04em;
        color           : #fff;
        transition      : background-color 0.3s ease-in-out;

        &.disabled {
            background-color: #ccc;
            color           : rgb(137, 137, 137);
            cursor          : not-allowed;
        }

        &:hover:not(.disabled) {
            background-color: #00a845;
        }
    }
}