$inputBgColor : #f7f7f7;

.inputDataContainer,
.inputContainer {
    position: relative;
}

.label {
    font-size     : 0.9em;
    font-weight   : 500;
    color         : #6e6e6e;
    margin-bottom : 5px;
    display       : block;
}

.input,
.textarea {
    display         : block;
    margin          : 0em 0em 1em 0em;
    padding         : 0.7em 2.2em 0.7em 0.7em;
    border          : none;
    background-color: $inputBgColor ;
    font-size       : 1em;
    font-family     : inherit;
    width           : 100%;
    box-sizing      : border-box;
    outline         : $inputBgColor ;
    border-bottom   : 2px solid $inputBgColor ;

    &.invalid {
        border-bottom: 2px solid #ffa700;
    }

    &.valid {
        border-bottom: 2px solid #45cd4e;
    }


}

.input:-internal-autofill-selected {
    box-shadow: 0 0 0 2em $inputBgColor inset !important;
}