.albumsContainer {
    background-color: #eee;
    padding         : 5em 0;
    color           : #000;

    .sectionTitle,
    .sectionSubtitle {
        text-align: center;
    }

    .sectionTitle {
        margin-bottom: 0;
    }

    .sectionSubtitle {
        font-size: 0.7em;
        max-width: 70%;
        margin   : 1em auto;
        color    : #888;
    }

    .wrapper {
        max-width            : 90%;
        margin               : auto;
        display              : grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .wrapper {
        width     : 100%;
        overflow-x: scroll;
    }
}