.header {
    display         : flex;
    flex-wrap       : nowrap;
    align-content   : center;
    justify-content : space-between;
    align-items     : center;
    background-color: #eee;
    padding         : 1em 2em;
}