.heroCointaner {
    height          : 100vh;
    min-height      : 500px;
    max-height      : 800px;
    background-color: #050505;
    position        : relative;

    .heroImage {
        height    : 100%;
        text-align: center;
    }

    .leftContent,
    .rightContent {
        position      : absolute;
        top           : 50%;
        transform     : translateY(-50%);
        color         : #9c9c9e;
        font-size     : 6em;
        font-weight   : 600;
        letter-spacing: -0.13em;

    }

    .leftContent {
        left     : 10%;
        animation: fadeInLeft 2s;
    }

    .rightContent {
        right    : 10%;
        animation: fadeInRight 2s;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        left   : 30%;
    }

    to {
        opacity: 1;
        left   : 10;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        right  : 30%;
    }

    to {
        opacity: 1;
        right  : 10;
    }
}