.heroCointaner {
    height          : 100vh;
    min-height      : 500px;
    max-height      : 800px;
    background-color: #050505;
    position        : relative;

    .heroImage {
        height    : 100%;
        text-align: center;
    }

    .leftContent,
    .rightContent {
        position      : absolute;
        top           : 50%;
        transform     : translateY(-50%);
        color         : #9c9c9e;
        font-size     : 6em;
        font-weight   : 600;
        letter-spacing: -0.13em;

    }

    .leftContent {
        left     : 10%;
        animation: fadeInLeft 2s;
    }

    .rightContent {
        right    : 10%;
        animation: fadeInRight 2s;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        left   : 30%;
    }

    to {
        opacity: 1;
        left   : 10;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        right  : 30%;
    }

    to {
        opacity: 1;
        right  : 10;
    }
}

@media (max-width: 900px) {
    .heroCointaner {

        .leftContent,
        .rightContent {
            font-size: 4em;
        }
    }
}

@media (max-width: 600px) {
    .heroCointaner {
        overflow: hidden;

        .heroImage {
            margin-top: 3em;
            width     : 100%;

            img {
                width : 100%;
                height: auto;
            }
        }

        .leftContent,
        .rightContent {
            font-size: 3em;
        }

        .leftContent {
            left     : 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        .rightContent {
            white-space: nowrap;
            right      : 50%;
            transform  : translateY(50%) translateX(50%);
        }
    }

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            left   : 100%;
        }

        to {
            opacity: 1;
            left   : 50%;
        }
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            right  : 100%;
        }

        to {
            opacity: 1;
            right  : 50%;
        }
    }
}