.aboutContener {
    margin-top : -15em;
    padding-top: 15em;

    .wrapper {
        max-width     : 70%;
        margin        : auto;
        padding-top   : 5em;
        padding-bottom: 5em;

        .content {
            width  : 50%;
            padding: 3em 0 6em 0;

            .sectionName {
                margin     : 0;
                color      : #797979;
                font-weight: 700;

            }

            .sectionHeading {
                margin: 0.2em 0;
            }

            .sectionSubheading {
                border-bottom : 1px solid #161616;
                text-transform: uppercase;
                font-size     : 0.8em;
                color         : #787878;
                padding-bottom: 4em;
                margin-bottom : 4em;
            }

            .sectionDescription {
                line-height: 1.5em;
            }
        }
    }
}

@media (max-width: 768px) {
    .aboutContener {
        .wrapper {
            max-width     : 90%;
            padding-top   : 0em;
            padding-bottom: 3em;

            .content {
                width  : 100%;
                padding: 0;

                .sectionSubheading {
                    padding-bottom: 2em;
                    margin-bottom : 2em;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .aboutContener {
        position: relative;

        &::after {
            content         : '';
            width           : 100%;
            height          : 100%;
            position        : absolute;
            background-color: rgba(0, 0, 0, 0.5);
            top             : 0;
            z-index         : 1;
        }

        .wrapper {
            z-index : 2;
            position: relative;
        }

        // .wrapper {
        //     max-width: 100%;
        // }
    }
}