.navigation {
    .menu {
        margin    : 0;
        padding   : 0;
        list-style: none;
        display   : flex;
        gap       : 1em;

        .item {
            padding: 0.7em 1em;
        }

        .link {
            text-decoration: none;
            color          : #fff;
            position       : relative;

            &::after {
                position        : absolute;
                left            : 0;
                bottom          : -0.1em;
                height          : 1px;
                width           : 0%;
                background-color: #fff;
                content         : '';
                transition      : width 0.3s ease-in-out
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

// @media (max-width: 900px) {
//     .navigation {
//         .menu {
//             display: none;
//         }
//     }
// }