.left,
.right {
    position: fixed;
    width   : 50%;
    height  : 100vh;
    z-index : 4;
    top     : 0;

    &.active {
        transform: translateX(0%);
    }
}

.left {
    left               : 0;
    background-color   : #344153;
    transform          : translateX(-100%);
    transition         : transform 0.3s ease-in-out;
    background         : url('../../ui/images/contact_bg.jpg');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center center;
}

.right {
    right           : 0;
    width           : 50%;
    background-color: #fff;
    transform       : translateX(100%);
    transition      : transform 0.3s ease-in-out;
    display         : flex;
    overflow-y      : auto;

    .close {
        position        : absolute;
        right           : 1em;
        z-index         : 1;
        top             : 1em;
        font-size       : 1em;
        border          : none;
        background-color: transparent;
    }
}
@media (max-width: 600px) {
    .left {
        display: none;
    }
    .right {
        width: 100%;
    }
}